:root{
 --preto: #181717;
 --azul: #0c3fe6;
 --azulClaro: #2acce9;
}

*{
 padding: 0;
 margin: 0;
 text-decoration: none;
 list-style-type: none;
 box-sizing: border-box;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
 background-color: var(--preto);
}