:root{
 --preto: #343434;
 --darkBlue: #2f3061;
 --blue: #0e34a0;
 --purple: #5f5980;
 --platinum: #dfdfdf;
}

*{
 padding: 0;
 margin: 0;
 text-decoration: none;
 list-style-type: none;
 box-sizing: border-box;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
 background-color: var(--platinum);
}