:root{
 --preto: #0a0305;
 --azul: #436573;
 --vermelho: #bf0404;
 --vermelhoEscuro: #8c0303;
 --branco: #f0f2f2;
 --cinza: #d3cfcf;
}

*{
 padding: 0;
 margin: 0;
 text-decoration: none;
 list-style-type: none;
 box-sizing: border-box;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
 background-color: var(--branco);
}